@font-face {
  font-family: PokeFont;
  src: url(../assets/pokeFont.ttf);
}

* {
  color: white;
  font-family: PokeFont;
  overflow: hidden;
}

h1 {
  font-size: 4.25rem;
  font-weight: 500;
  margin: 0px;
  padding-left: 20px;
  padding-top: 8px;
}

main {
  background-color: black;
  background-image: url(../assets/background.png);
  background-size: cover;
  height: calc(100vh - 108px);
}
.startscreen {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.playing {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
}

.topBar {
  background-image: url(../assets/bar.png);
  color: white;
  display: flex;
  height: 108px;
  width: 100%;
}

.winscreen,
.losescreen {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.winscreen h1,
.losescreen h1 {
  font-size: 7rem;
}

.winscreen h2,
.losescreen h2 {
  color: #b6c0dd;
  font-size: 4rem;
  font-weight: 400;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 200px;
}
