.card{
    width: 500px;
    height: 164px;
    background-image: url("../assets/panel.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.card:hover{
    transform: scale(0.98);
    background-image: url("../assets/panelhover.png");
    cursor: pointer;
    
}

.cardText{
    color: white;
    font-size: 4rem;
    margin: 0px;
    padding-top: 2rem;
}

.card img{
    height: 164px;
    width: 164px;
    padding-left: 15px;
    margin-right: 15px;
}

.return img{
    height: 112px;
    width: 102px;
    padding-left: 15px;
    margin-right: 70px;
}
.easy{
 background-image: url("../assets/easy.png");
}

.easy:hover{
    background-image: url("../assets/easyhover.png");
}
.medium{
 background-image: url("../assets/medium.png");
}

.medium:hover{
    background-image: url("../assets/mediumhover.png");
}
.hard{
    background-image: url("../assets/hard.png");
   }
   
   .hard:hover{
       background-image: url("../assets/hardhover.png");
   }